<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button routerLink="/home">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-button routerLink="/">Créer une annonce</button>
    <button mat-button routerLink="/users">Utilisateurs</button> 
  </span>
<div fxLayout="row" fxShow="false" fxShow.gt-sm>
  <button mat-button routerLink="auth/login" *ngIf="!currentUser">
    <mat-icon>power_settings_new</mat-icon>
    S'identifier
  </button>
  <button mat-button *ngIf="currentUser" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Se déconnecter
  </button>
</div>
<button mat-button [mat-menu-trigger-for]="menu" class="button" fxHide="false" fxHide.gt-sm>
  <mat-icon>menu</mat-icon>
</button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
<button mat-menu-item routerLink="home">
  <mat-icon>home</mat-icon>
  Acceuil
</button>
<button mat-menu-item routerLink="auth/login" *ngIf="!currentUser">
  <mat-icon>power_settings_new</mat-icon>
  S'identifier
</button>
<button mat-menu-item *ngIf="currentUser" (click)="logout()" >
  <mat-icon>exit_to_app</mat-icon>
  Se déconnecter
</button>
</mat-menu>
<div>
<router-outlet></router-outlet>
</div>