mat-card {
  margin: 12px;
  height: 97%;
  background: white;
}

mat-card-header {
  height: 25%;
}

.header-image {
  background-image: url("/assets/images/no-profile-picture.jpg");
  background-size: cover;
  width: 25%;
  height: auto;
}

.mat-card-header-text {
  display: flex;
  justify-content: center;
  width: 100%;
}

mat-card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 200%;
}

.mat-list-address {
  max-width: 100%;
}

.mat-subheader {
  padding-left: 20px;
  font-size: 20px;
}

.address-size {
  padding-left: 20px;
}

.button-place {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.button-position {
  margin-right: 40px;
  margin-top: 35px;
}

// PostCode Input
.example-right-align {
  text-align: left;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
