<mat-card fxLayout="column">
  <mat-card-header fxFlex="25">
    <img mat-card-avatar [src]="user.picture" class="header-image" />
    <div class="mat-card-header-text">
      <mat-card-title fxFlex>
        <span>Profil de </span>
        &nbsp;
        <span>{{ user.firstName }} {{ user.lastName }}</span>
      </mat-card-title>
    </div>
  </mat-card-header>
  <mat-card-content fxFlex="75">
    <mat-list fxFlex="50">
      <div mat-line class="mat-subheader">Adresse de {{ user.firstName }}</div>
      <div class="address-size">
        <div mat-line>Rue : {{ user.street }}</div>
        <div mat-line>Numéro : {{ user.number }}</div>
        <div mat-line *ngIf="user.box">Boîte : {{ user.box }}</div>
        <div mat-line>Code postal : {{ user.postCode }}</div>
        <div mat-line>Ville : {{ user.city }}</div>
      </div>
    </mat-list>
    <mat-list fxFlex="50"></mat-list>
  </mat-card-content>
</mat-card>
