mat-card {
  margin: 12px;
  margin-left: 0px;
  margin-bottom: 6px;
  height: 95.5%;
  background: white;
}

mat-card-header {
  height: 25%;
}

mat-card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
