<form [formGroup]="goodForm" (ngSubmit)="onSubmit()">
    <mat-card class="good-card">
        <mat-card-content>
            <mat-card-title>Ajoutez votre annonce</mat-card-title>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width-input">
                        <mat-label>Titre du produit</mat-label>
                        <input matInput maxlength="50" formControlName="name" />
                        <mat-error>{{errors.name}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width-input">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                        <mat-error>{{errors.description}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width-input">
                        <mat-label>Etat du produit</mat-label>
                        <mat-select formControlName="state">
                            <mat-option value="Neuf">Neuf</mat-option>
                            <mat-option value="Utilisé">Utilisé</mat-option>
                        </mat-select>
                        <mat-error>{{errors.state}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width-input">
                        <mat-label>Montant par jour</mat-label>
                        <input matInput type="number" min="0" class="example-right-align"
                            formControlName="amountPerDay" />
                        <span matSuffix>&nbsp;€</span>
                        <mat-error>{{errors.amountPerDay}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width-input">
                        <mat-label>Rue</mat-label>
                        <input matInput formControlName="street" />
                        <mat-error>{{errors.street}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width-input">
                        <mat-label>N°</mat-label>
                        <input matInput formControlName="number" />
                        <mat-error>{{errors.number}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width-input">
                        <mat-label>Boîte</mat-label>
                        <input matInput formControlName="box" />
                        <mat-error>{{errors.box}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width-input">
                        <mat-label>Code postal</mat-label>
                        <input matInput formControlName="postCode" />
                        <mat-error>{{errors.postCode}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width-input">
                        <mat-label>Ville</mat-label>
                        <input matInput formControlName="city" />
                        <mat-error>{{errors.city}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width-input">
                        <mat-label>Section</mat-label>
                        <mat-select formControlName="sectionId" (valueChange)="onSectionChangeAction($event)">
                            <mat-option *ngFor="let section of sections" [value]="section.id">{{ section.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{errors.section}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width-input" *ngIf="isSectionSelected">
                        <mat-label>Catégorie</mat-label>
                        <mat-select formControlName="categoryId">
                            <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error>{{errors.categpry}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div style="text-align:center">
                <mat-card style="margin-top: 10px; width: 90%;">
                    <mat-card-content>
                        <!-- <ul>
                            <li *ngFor="let file of files">
                                <mat-progress-bar *ngIf="file.progress > 0" [value]="file.progress"></mat-progress-bar>
                                <span *ngIf="file.progress > 0">{{ progress }}%</span><br>
                                <span *ngIf="message">
                                    {{ message }}
                                </span>
                            </li>
                        </ul> -->
                        <div *ngFor="let image of images">
                            <img class="resize-img" [src]="image.link">
                            <!-- *ngIf="goodForm.get('picture').value" -->
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button type="button" color="primary" (click)="addImage()">
                            <mat-icon>file_upload</mat-icon>
                            Charger
                        </button>
                    </mat-card-actions>
                </mat-card>
                <input type="file" #imageInput accept="image/*" (change)="imageInputChange(imageInput)" />
                <!-- (change)="uploadFile(file.files)" -->
            </div>
            <br>
            <div>
                <mat-spinner-button [options]="spinnerButtonOptions" [disabled]="goodForm.invalid"></mat-spinner-button>
            </div>
        </mat-card-content>
    </mat-card>
</form>