:host {
  display: flex;
  justify-content: center;
}

.form-style {
  width: 100%;
}

mat-card-header {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

mat-form-field {
  display: block;
  // background: whitesmoke;
}

.good-card {
  margin: 20px;
  background: white;
}

// pour enlever le bouton d'augmentation et de diminution de la valeur numérique
.example-right-align {
  text-align: left;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

// pour la barre de progression du chargement des images
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.resize-img {
  max-width: 120px;
  height: auto;
  margin-top: 30px;
}

.radio-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.radio-button {
  padding-bottom: 15px;
}

.full-width-input {
  width: 100%;
}

.upload-image {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 50px;
}

.upload-card {
  margin-top: 10px;
  width: 70%;
  background: rgb(245, 245, 245);
}
