<mat-card>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <H2>Connection</H2>
        <!-- <mat-error *ngIf="submitted && f.Email.errors">
          {{this.error}}
        </mat-error> -->
        <mat-form-field>
          <mat-label>Login</mat-label>
          <input matInput placeholder="Login" formControlName="email"/>
          <!-- <mat-error *ngIf="f.Email.errors.required">
            Le login est obligatoire.
          </mat-error> -->
        </mat-form-field>
        <mat-form-field>
          <mat-label>Mot de passe</mat-label>
          <input matInput placeholder="Mot de passe" formControlName="passwd" required/>
          <!-- <mat-error *ngIf="f.Passwd.errors.required">
            Le mot de passe est obligatoire.
          </mat-error> -->
        </mat-form-field>
        
        <button mat-raised-button type="submit" color="primary" [disabled]="loginForm.invalid">Confirmer</button>
      </form>
    </mat-card-content>
   
  </mat-card>