.header-image {
  background-image: url("/assets/images/no-profile-picture.jpg");
  background-size: cover;
}

mat-card-title {
  width: 100%;
}

mat-card {
  min-height: 31rem;
  background: rgba($color: #d3d3d3, $alpha: 0.1);
}

.center-button {
  display: flex;
  justify-content: center;
}

.card-list {
  padding-top: 0.4%;
  padding-bottom: 0.4%;
  padding-left: 0.4%;
  padding-right: 0.4%;
}
