.container {
  display: flex;
}

// .example-card {
//   max-width: 300px;
// }

.example-header-image {
  background-image: url("/assets/images/no-profile-picture.jpg");
  background-size: cover;
}

mat-card-title {
  width: 100%;
}

mat-card {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // width: 20rem;
  height: 31rem;
}

.center-button {
  display: flex;
  justify-content: center;
}

.card-list {
  padding-top: 1%;
  padding-bottom: 0.5%;
}
