/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/theming";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Roboto, sans-serif;
  background: whitesmoke;
}

.colored-snackbar {
  background: #3f51b5;
  color: white;
}

.red-snackbar {
  background: #ff4500;
  color: white;
}

.content {
  padding: 16px;
}

// .content > mat-card {
//   width: 200px;
// }

/* ======== Angular material custom themes ======== */
$my-custom-primary: mat-palette($mat-indigo);
$my-custom-accent: mat-palette($mat-yellow);
$my-custom-warn: mat-palette($mat-red);

$my-custom-theme: mat-light-theme(
  $my-custom-primary,
  $my-custom-accent,
  $my-custom-warn
);

@include angular-material-theme($my-custom-theme);
