<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-card class="register-card">
        <mat-card-content>
                <mat-card-title>Enregitrez-vous</mat-card-title>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width-input">
                            <input matInput placeholder="Prénom" formControlName="firstName"/>
                            <mat-error *ngIf="registerForm.controls['firstName'].hasError('required')">
                                Le prénom est <strong>obligatoire</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width-input">
                            <input matInput placeholder="Nom de famille" formControlName="lastName"/>
                            <mat-error *ngIf="registerForm.controls['lastName'].hasError('required')">
                                Le nom de famille est <strong>obligatoire</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width-input">
                            <input matInput placeholder="Date de naissance" [matDatepicker]="picker" formControlName="birthdate"/>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="registerForm.controls['birthdate'].hasError('required')">
                                La date de naissance est <strong>obligatoire</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width-input">
                            <input matInput placeholder="Email" formControlName="email"/>
                            <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
                                Le prénom est <strong>obligatoire</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-width-input">
                            <input matInput type="password" placeholder="Mot de passe" formControlName="passwd"/>
                            <mat-error *ngIf="registerForm.controls['passwd'].hasError('required')">
                                Le mot de passe est <strong>obligatoire</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group">
                    <button mat-raised-button color="primary" [disabled]="registerForm.invalid">S'enregistrer</button>
                </div>
                <br>
                <mat-divider></mat-divider>
                <br>
                <div>
                    <h3>Déjà un compte ? Identifiez-vous ici</h3>
                    <button mat-raised-button color="primary" type="submit" routerLink="/auth/login">S'identifier</button>
                </div>
        </mat-card-content>
    </mat-card>
</form>