<h2>S'enregistrer</h2>
<mat-form-field [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <mat-label for="FirstName">Prénom</mat-label>
        <input matInput formControlName="FirstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" />
        <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
            <div *ngIf="f.FirstName.errors.required">FirstName is required</div>
        </div>
    </div>
    <div class="form-group">
        <mat-label for="LastName">Nom de famille</mat-label>
        <input matInput formControlName="LastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }" />
        <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
            <div *ngIf="f.LastName.errors.required">LastName is required</div>
        </div>
    </div>
    <div class="form-group">
        <mat-label for="Birthdate">Date de naissance</mat-label>
        <input matInput type="date" formControlName="Birthdate" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Birthdate.errors }" />
        <div *ngIf="submitted && f.Birthdate.errors" class="invalid-feedback">
            <div *ngIf="f.Birthdate.errors.required">Birthdate is required</div>
        </div>
    </div>
    <div class="form-group">
        <mat-label for="Email">Email</mat-label>
        <input matInput type="text" formControlName="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" />
        <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
            <div *ngIf="f.Email.errors.required">Email is required</div>
        </div>
    </div>
    <div class="form-group">
        <mat-label for="Passwd">Mot de passe</mat-label>
        <input matInput type="Passwd" formControlName="Passwd" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Passwd.errors }" />
        <div *ngIf="submitted && f.Passwd.errors" class="invalid-feedback">
            <div *ngIf="f.Passwd.errors.required">Password is required</div>
            <div *ngIf="f.Passwd.errors.minlength">Password must be at least 8 characters</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">S'enregistrer</button>
        <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a routerLink="/auth/login" class="btn btn-link">Annuler</a>
    </div>
</mat-form-field>